<div class="fondobosque">
    <div class="w-100">
        <!--Carrusel-->
        <div id="carouselExampleControls" class="carousel slide my-5" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <img src="assets/img/autocontrol.jpg" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/irasection1.png" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/carusel2.png" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <div>
                    <img src="img/fondo.jpg" alt="">
                </div>
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                <div>
                    <img src="img/fondo.jpg" alt="">
                </div>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                <div>
                    <img src="img/fondo.jpg" alt="">
                </div>
                <div>
                    <img src="img/fondo.jpg" alt="">
                </div>
            </a>
        </div>

    </div>
</div>

<!--grid textos y video-->
<div class="container-fluid">
    <div class="row">
        <div class="col-9 col-md-6 col-lg-6 ">
            <div class="textoPag container-bg">
                <h2 class="titulosPagina">¿Qué es la ira?</h2>
                <p>
                    La ira debe ser una emoción controlada a fin de evitar mayores conflictos o dificultades. Los psicólogos sugieren exteriorizar este sentimiento a fin de evitar enfermedades. No obstante, su exteriorización debe ser medida para evitar situaciones violentas o peligrosas.
                </p>
            </div>
            <div class="textoPag my-5 container-bg">
                <h3 class="titulosPagina">¿Cómo manejarla?</h3>
                <p>
                    Cada individuo experimenta la ira de una manera diferente, por lo que se puede distinguir entre una ira pasiva y una ira agresiva. Ambas pueden ser controladas a través de terapias o diferentes estrategias, entre las que se encuentran:

                    No ceder a los pensamientos que generan resentimiento.
                    Poner en práctica diversos ejercicios de relajación.
                    Ser respetuoso.
                    Evitar pensamientos negativos de venganza, destructivos o amenazas.
                    Poner en el lugar del otro y observar la situación de manera objetiva.
                    dentificar qué provocó la molestia y expresar este sentimiento de manera honesta, respetuosa y sin amenazas.
                    Buscar ayuda profesional en los casos de daños físicos o psicológicos a fin de evitar futuras frustraciones, enojos desmedidos o angustias. Es importante llevar una vida tranquila bajo pensamientos positivos.
                </p>
            </div>

        </div>

        <div class="col-12 col-md-10 col-lg-4 my-3  d-flex flex-column">

            <div class="text-center playlist">
                <iframe src="https://open.spotify.com/embed/album/44Ig8dzqOkvkGDzaUof9lK" width="380" height="285"
                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

            </div>

            <div>

                <app-tree></app-tree>

            </div>


        </div>
    </div>